@use "vars";

aside {
    position: sticky;
    top: 0px;
    left: 0px;
    height: 100vh;
}

#notes-container {
    height: 75%;
}

#controls {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

#note {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#to-do {
    border: none;
    background-color: none;
}
